{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!
{% endblock %}

{% block body %}
	<div class="mt-5">
		<p>
			<b>ID:</b>
			{{article.id}}
		</p>
		<h1>{{article.title}}</h1>
		<p>{{article.body}}</p>
		<hr>
		<a href="/tuts/symfony-test/public">Go Back</a>
	</div>
{% endblock %}
